html {
        background: rgb(225, 222, 222);
        //background:black;
        background-size: cover;
        display: flex;
}

.jumbotron {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        margin-left: 10px;
        background: linear-gradient(135deg, #2869EB 0%,#28B0EB 48%,#596BEA 100%);
        color: rgb(225, 222, 222);

}

.card-columns {
        padding: 50px 100px 100px 100px;
        flex-wrap: wrap;
        
        // @include media-breakpoint-only(xl) {
        //   column-count: 5;
        // }
}

@media screen and (min-width: 1525px) {
        .card-columns {
                padding: 100px 250px 50px 250px;
                flex-wrap: wrap;
        }
}

div.card {
        background: white;
        border-radius: 5px;
        box-shadow: 0 6px 10px rgba(0,0,0,0.16), 0 6px 10px rgba(0,0,0,0.23);
}

div.card:hover {
        box-shadow: 0 18px 33px rgba(0,0,0,0.25), 0 14px 14px rgba(0,0,0,0.22);
        cursor: pointer;
}

.card-title, .card-text {
        color: black;
}



@media screen and (min-width: 500px) and (max-width: 1018px) {
        // .jumbotron h1 { font-size: 25px; }
        // .jumbotron p { font-size: 15px; }

        html {
                display: flex;
                justify-items: flex-start;
                flex-direction: column;
        }

        .jumbotron {
                display: flex;
                flex-wrap: wrap;
                margin-left: 0;
                margin-top: 10px;
                margin-bottom: 150px;
                .container {
                        display: flex;
                        flex-direction: column;
                }

                h1 { 
                        display: flex;
                        flex-wrap: wrap;
                        font-size: 25px;
                 }

                p { font-size: 15px; }
        }

        .card-columns {
                padding: 50px;
                // flex-direction: row;
                // flex-wrap: wrap;
                column-count: 2;
        }
}

@media screen and (orientation: portrait) and (min-width: 325px) and (max-width: 678px) {
        // .jumbotron h1 { font-size: 25px; }
        // .jumbotron p { font-size: 15px; }

        html {
                display: flex;
                justify-items: flex-start;
                flex-direction: column;
        }
        
        .jumbotron {
                display: flex;
                flex-wrap: wrap;
                margin-top: 10px;
                margin-left: 0px;
                .container {
                        display: flex;
                        flex-direction: column;
                }

                h1 { 
                        display: flex;
                        flex-wrap: wrap;
                        font-size: 25px;
                 }

                p { font-size: 15px; }
        }
}