html {
        background: rgb(225, 222, 222);
        //background:black;
        background-size: cover;
        display: flex;
}

.jumbotron {
        display: flex;
        flex-wrap: wrap;
        //background: rgba(0,153,224,0.9);
        background: linear-gradient(135deg, #2869EB 0%,#28B0EB 48%,#596BEA 100%);
        color: rgb(225, 222, 222);

}

@media screen and (orientation: portrait) and (min-width: 375px) and (max-width: 780px) {
        .jumbotron h1 { font-size: 25px; }
        .jumbotron p { font-size: 15px; }
}

.card-columns {
        padding: 50px 100px 100px 100px;
        flex-wrap: wrap;
        // @include media-breakpoint-only(lg) {
        //   column-count: 4;
        // }
        // @include media-breakpoint-only(xl) {
        //   column-count: 5;
        // }
}

@media screen and (min-width: 1525px) {
        .card-columns {
                padding: 100px 250px 50px 250px;
                flex-wrap: wrap;
        }
}

div.card {
        background: white;
        border-radius: 5px;
        box-shadow: 0 6px 10px rgba(0,0,0,0.16), 0 6px 10px rgba(0,0,0,0.23);
}

div.card:hover {
        box-shadow: 0 18px 33px rgba(0,0,0,0.25), 0 14px 14px rgba(0,0,0,0.22);
        cursor: pointer;
}

.card-title, .card-text {
        color: black;
}

// .card-title, .card-text {
//         color:rgba(0,153,224,0.9);
// }