
<html>
  <div class="player-container">
    <a class="close-button" [routerLink]="['']" routerLinkActive="active">
        <fa-icon [icon]="['fas', 'times-circle']" style="color:darkcyan"></fa-icon>
    </a>
    <video class="video-content" #videoContent (timeupdate)="setUpdatedTime($event)" (loadedmetadata)="onProgress($event)" src="http://test-cdn.selectablemedia.com/test/a/bbb/assets/video/bbb_trailer_1080p.mp4"></video>
    <div class="player-controller" #player>
      <div class="progress-bar" #progressBar change="onProgress()">
        <progress class="progress-fill" #progressFill value={{this.currentTime}} min=0 max={{this.maxTime}}></progress>
      </div>
      <div class="controller-buttons">
        <button class="play-button" #play (click)="togglePlay($event.paused)">
            <fa-icon #playIcon [icon]="['fas', 'play']" *ngIf="!isPlaying" (click)="!isPlaying = isPlaying"></fa-icon>
            <fa-icon #pauseIcon [icon]="['fas', 'pause']" *ngIf="isPlaying" (click)="isPlaying = !isPlaying"></fa-icon>
        </button>
        <fa-icon [icon]="['fas', 'volume-up']"></fa-icon>
        <input class="player-volume" #volume type="range" name="volume" min="0" max="1" step="0.1" value="1">
        <button class="skip-button" #skipButton (click)="onSkip($event)" data-skip="-10">
          <div>
            <fa-icon [icon]="['fas','backward']"></fa-icon>
          </div>
        </button>
        <button class="skip-button" #skipButton (click)="onSkip($event)" data-skip="10">
          <div>
            <fa-icon [icon]="[fas,'forward']"></fa-icon>
          </div>
        </button>
      </div>
    </div>
  </div>
</html>
<router-outlet #modal></router-outlet>